---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Prices from '~/components/widgets/Pricing.astro';
import Features from '~/components/widgets/Features.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Facilitators from '~/components/widgets/Facilitators.astro';
import Content from '~/components/widgets/Content.astro';
import Steps from '~/components/widgets/Steps.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Slider from '~/components/widgets/Slider.astro';
import { YouTube } from 'astro-embed';


const metadata = {
  title: 'Sexo con K-Alma',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      position="left"
      links={[
        { text: 'Ananda', classes:'info-ananda', target:"_blank", href: 'https://www.espai-ananda.com/ananda/' },
        { text: 'Ado', classes:'info-ado', target:"_blank", href: 'https://adomelera.com/' },
      ]}
      actions={[
        {
          text: 'Nos apuntamos',
          variant: 'primary',
          classes: { class:'apuntamos-banner' },
          href: 'https://wa.me/34627591609/?text=Hola,%20Nos%20queremos%20apuntar%20a%20Sexo%20con%20K-Alma',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="principal"
    title="Sexo con K-Alma"
    tagline="Tantra para parejas"
    image={{ src: '/images/238A7333.webp', alt: 'Love' }}
  >
    <Fragment slot="subtitle">
      <strong>Sexo con K-Alma</strong> significa que incluirás la <strong>meditación</strong> en tu intimidad y en tu sexualidad. Aprenderás a recordar el <strong>amor</strong>, recuperar la <strong>relajación</strong> y el <strong>gozo</strong> en tu relación.
      <br /><br />
      Las <strong>corazas</strong> que llevas desde hace tiempo irán cayendo para mostrar tu verdadera <strong>esencia</strong> a la persona con la que compartes este momento de vida. Tu relación será un campo fértil, donde conseguirás un gran <strong>autocrecimiento</strong> y <strong>expansión de consciencia</strong>.
      <br /><br />
      Una de las <strong>necesidades más profundas</strong> de los seres humanos es pertenecer, estar en contacto. Albergamos el deseo de dar y recibir, necesitamos el roce, el cariño, el calor y la presencia. En esta propuesta son bienvenidas <strong>todas las relaciones que aman</strong>, sean del tipo que sean, encarnadas en <strong>cualquier cuerpo y género</strong>.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 mt-80 bg-140% sm:mt-48 sm:bg-100% lg:mt-32 lg:bg-50%" style="background-image: url('/images/background_logo.webp');
            background-position: top;           
            background-repeat: no-repeat;
            opacity: 0.15;            
            filter: hue-rotate(200deg) saturate(150%);"></div>
    </Fragment>
  </Hero>

  <Features3
    id="un_viaje"
    title="Un Viaje de Conexión Íntima y Espiritual"
    subtitle="El Tantra te ofrece un camino para <strong>revitalizar</strong> y <strong>profundizar</strong> en tu relación íntima y sexual, trascendiendo lo físico hacia lo espiritual."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Reconexión en pareja',
        description:
          'La práctica del Tantra te ayudará a recuperar la <strong>conexión profunda</strong> con tu pareja en medio del ajetreo diario.',
        icon: 'tabler:heart',
      },
      {
        title: 'Conciencia y presencia',
        description: 'En el Tantra aprenderás a cultivar la <strong>conciencia plena</strong> y la presencia en tu relación íntima.',
        icon: 'tabler:plant',
      },
      {
        title: 'Revitalización del vínculo',
        description:
          'Durante el recorrido podrás <strong>reavivar la chispa</strong> y fortalecer los lazos emocionales con tu pareja.',
        icon: 'tabler:leaf',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>

  <!-- Features3 Widget ************** -->
  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Comunicación corporal',
        description:
          'Explorarás técnicas para mejorar tu <strong>comunicación no verbal</strong> y la expresión corporal con tu amante.',
        icon: 'tabler:plant-2',
      },
      {
        title: 'Expresión emocional',
        description: 'El proceso tántrico te ayudará a fomentar la <strong>expresión abierta y honesta</strong> de tus sentimientos en la relación.',
        icon: 'tabler:flower',
      },
      {
        title: 'Sexualidad trascendente',
        description:
          '"Sexo con K-Alma" te invita a vivir la sexualidad como una <strong>experiencia que va más allá</strong> de lo físico y/o carnal, sin excluirlo.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Conexión espiritual',
        description:
          'Con el Tantra integrarás la <strong>espiritualidad</strong> en tu intimidad sexual, elevando la experiencia a un plano superior.',
        icon: 'tabler:template',
      },
      {
        title: 'Programa progresivo',
        description: 'El recorrido consta de <strong>cuatro talleres</strong> de un día y un <strong>retiro residencial</strong> de cuatro días.',
        icon: 'tabler:growth',
      },
      {
        title: 'Crecimiento mutuo',
        description:
          'En este recorrido tántrico facilitarás tanto tu <strong>crecimiento individual</strong> como el desarrollo conjunto con tu pareja.',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '/images/238A7246.webp',
      alt: 'Love',
      style: 'object-position: 80% 20%;',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>
  <!-- Testimonials Widget *********** -->

  <Testimonials
    id="testimonios"
    title='Testimonios reales de "Sexo con K-Alma"'
    testimonials={[
      {
        testimonial: `Recomiendo a todas las parejas que vengan a estos talleres, tener espacio donde poder salir de las inercias y practicar otra manera de comunicarte en pareja, de relacionarte, pues es vital para que la relación no se estanque y así poder profundizar y llegar a lugares nuevos`,
        name: 'Carol',
        //job: '',
        image: {
          src: '/images/anonima1.webp',
          alt: 'Carol',
        },
      },
      {
        testimonial: `Siento mucha alegría, mucha conexión conmigo mismo y la verdad que agradezco mucho las propuestas porque te mueven a conectar contigo antes que con la otra persona y además sientes un espacio seguro, un espacio que va creciendo cada vez más a lo largo del recorrido`,
        name: 'Luís',
        //job: '',
        image: {
          src: '/images/anonimo1.webp',
          alt: 'Luís',
        },
      },
      {
        testimonial: `Me siento llena de amor, he conectado con la vitalidad, con la gratitud; me encanta con el cuidado y el respeto que manejan las propuestas. Hay al mismo tiempo ligereza, juego y diversión y a mí me ayuda mucho a bajar la tierra, a conectar con mi cuerpo, con el presente`,
        name: 'Noelia',
        //job: '',
        image: {
          src: '/images/anonima2.webp',
          alt: 'Noelia',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
    }}
  >
    <Fragment slot="bottom">
      <YouTube id="iJDufTO_A5E" title="" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 90vw;
          width: 800px;
        }
      </style>
    </Fragment>
  </Testimonials>

  <!-- Steps Widget ****************** -->

  <Facilitators
    id="facilitadores"
    title="Los facilitadores"
    facilitators={[
      {
        name: 'Deva Ananda',
        job: 'Respirar, meditar, bailar, y ser tocados desde el corazón nos ayuda a hacer cambios personales, a calmar nuestro sistema nervioso, disolviendo nuestros patrones equivocados, nuestras inercias y hábitos poco saludables. Recordar la confianza en la vida y en la muerte, y el goce de estar viva, es ahora mi camino de vida, de entrega, de deshacimiento de la falsedad para ser lo que Soy.',
        image: {
          src: '/images/ananda_cara.webp',
          alt: 'Deva Ananda',
        },
        href: 'https://www.espai-ananda.com/ananda/',
        className: 'info-ananda'
      },
      {
        name: 'Ado Melera',
        job: 'Me encantaría acompañarte a recobrar la paz interior y sentirte plen@ con tu ser y tu sexualidad. Aportando ingredientes sencillos como una mirada amorosa al ser, un respeto a los procesos por los que transitamos o una aceptación de los tiempos y situaciones. Teniendo en cuenta el entorno, la sociedad, el cuerpo, la mente, la emoción…',
        image: {
          src: '/images/ado_cara.webp',
          alt: 'Ado Melera',
        },
        href: 'https://adomelera.com/',
        className: 'info-ado'        
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Mas información...',
      href: '#',      
      classes: { h1:'info-ananda',h2:'info-ado' },      
      icon: 'tabler:chevron-right',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Facilitators>

  <Steps
    id="recorrido"
    title="Recorrido Sexo con K-Alma"
    subtitle="Talleres y residencial en la provincia de Barcelona"
    items={[
      {
        title: 'Del Hacer al Ser',
        description: 'Deja de hacer, baja el ritmo, siente y maravíllate de ser.',
        icon: 'tabler:plant-2',
      },
      {
        title: 'El Magnetismo de los Cuerpos',
        description: 'Polaridad, magnetismo, circuito bioenergético: déjate ser fluido.',
        icon: 'tabler:magnet',
      },
      {
        title: 'Contacto e Intimidad',
        description: 'Ábrete al tacto, conecta profundamente, despierta una nueva intimidad.',
        icon: 'tabler:hand-stop',
      },
      {
        title: 'Juego, Eros y Celebración',
        description: 'Entreguémonos a la alegría, al juego, al placer y al gozo.',
        icon: 'tabler:flame',
      },
      {
        title: 'Residencial Haz el Amor por Amor',
        description: 'Recárgate de vitalidad. Hacer el amor: un acto de meditación y relajación.',
        icon: 'tabler:heart',
      }
    ]}
    image={{
      src: '/images/555A9999.webp',
      alt: 'Steps image',
    }},
  />

  <!-- Content Widget **************** -->

  <Content
    id="del_hacer_al_ser"
    title='Del Hacer al Ser<br /><span class="text-xl">6 abril 2025</span>'
    subtitle="En un mundo lleno de <strong>distracciones y desafíos</strong>, reconectar con tu ser interior y con tu pareja puede ser un viaje <strong>profundamente transformador</strong>. Este taller está diseñado para ayudarte a <strong>reconocer quién eres</strong>, deshacer tus miedos y resistencias con la ayuda del amor, y descubrir que no estás sol@ en este camino. Antes de fundirte con el otro, es esencial que te fundas con tu propio ser, trasciendas tus <strong>autolimitaciones</strong> y la sensación de que eres errón@, te destiles como ser humano para brillar ante ti y ante tu pareja. ¡Queremos que te vuelvas a <strong>enamorar de ti mism@</strong> y de tu pareja!"
    isReversed
    items={[
      {
        title: 'Programa:',
        description:
          '<ul class="text-muted list-disc mt-3 ml-5"><li>Conoce tu esencia más profunda.</li><li>Deshacer los miedos y las resistencias a través del poder del amor.</li><li>La tecnología del amor.</li><li>Conexión y apoyo mutuo en el viaje de autodescubrimiento.</li><li>La danza entre la individuación y la fusión.</li><li>El descanso en la intimidad.</li><li>La corporalidad: el camino de la presencia.</li><li>Mantener viva la llama de la propia vitalidad.</li><li>La Comunicación NoViolenta, una herramienta esencial en la relación.</li><li>La respiración al servicio de la sensibilidad.</li><li>Despertar el cuerpo extático.</li><li>Hacer el amor: un acto desde la consciencia.</li></ul>',
      },
      {
        title: 'En esencia:',
        description:
          'En este taller descubrirás la importancia del <strong>descanso</strong> y el valor del <strong>no esfuerzo</strong> en la intimidad. Los momentos de relajación (k-alma), gozo y placer serán tu forma de recarga necesaria para sostener tu propio bienestar y el de tu relación. Cuanto más habites tu cuerpo, más conocerás y sabrás escuchar tus propias <strong>necesidades</strong> y respetar y comprender las de tu compañer@. Al estar conectad@ a las sensaciones corporales, te traerá el abrazo del presente, lo cual te permitirá estar más en sintonía con tu ser interior.',
      },
    ]}
    image={{
      src: '/images/238A6733.webp',
      alt: 'Del Hacer al Ser',
      aspectRatio: '1:1',
    }}
    classes={{ itemClasses: 'list-disc', Headline: 'text-m' }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    id="el_magnetismo_de_los_cuerpos"
    title='El Magnetismo de los Cuerpos<br /><span class="text-xl">18 mayo 2025</span>'
    subtitle="Cuando ya sabes quién eres y has conectado profundamente con tu ser interior, es momento de cuidar tu <strong>templo: el cuerpo</strong>, el hogar de tu alma. Este taller está diseñado para que te vivas plenamente en esta <strong>experiencia corporal y sensorial</strong>, reconociendo tu cuerpo como tu preciado tesoro. Al reconocerte y cuidarte, te conviertes en pura <strong>irradiación</strong>, brillando y atrayendo naturalmente. A través de tu cuerpo, el amor se despliega y se abre, y el juego inocente de la dualidad se convierte en una pura <strong>celebración y disfrute</strong>.<br>Cuando os unís en pareja, las <strong>bioenergías</strong> de vuestros cuerpos crean una experiencia vital extática a través de la atracción de las polaridades opuestas, como dos imanes que crean un campo magnético: femenino (receptivo) - masculino (emisivo)."
    items={[
      {
        title: 'Programa:',
        description:
          '<ul class="text-muted list-disc mt-3 ml-5"><li>Corporalidad, el hogar de tu alma.</li><li>La meditación en la vida cotidiana.</li><li>Autocuidado corporal para mantener tu templo en armonía.</li><li>Sentir: magnetiza.</li><li>La radiancia individual.</li><li>Hábitos energéticos que sabotean la intimidad.</li><li>Poner y comunicar límites, un acto de amor y respeto.</li><li>Celebrar la dualidad y también el goce.</li><li>El juego y la espontaneidad en la conexión íntima.</li></ul>',
      },
      {
        title: 'En esencia:',
        description:
          'Este taller te permitirá <strong>reconocer y celebrar</strong> tu cuerpo como el hogar de tu alma. Al cuidarte y vivenciarte plenamente en esta experiencia corporal y sensorial, te convertirás en pura <strong>irradiación y magnetismo</strong>. A través de tu cuerpo, el amor se desplegará y se abrirá, convirtiendo el juego inocente de la dualidad en una pura <strong>celebración y disfrute</strong>. Este taller es una invitación a vivir y disfrutar del amor y la conexión íntima desde la <strong>profundidad de tu ser</strong> y el reconocimiento de tu cuerpo como tu templo sagrado.',
      },
    ]}
    image={{
      src: '/images/238A7833.webp',
      alt: 'El Magnetismo de los Cuerpos',
      aspectRatio: '1:1',
    }}
    classes={{ itemClasses: 'list-disc', Headline: 'text-m' }}
  />

  <!-- Content Widget **************** -->

  <Content
    id="contacto_e_intimidad"
    title='Contacto e Intimidad<br /><span class="text-xl">15 junio 2025</span>'
    subtitle="El Tantra te invita a escuchar el cuerpo como <strong>vehículo para conectar</strong> con el Ser. El tacto como meditación será tu puerta hacia una <strong>conexión profunda y significativa</strong>. Te facilitará poder adentrarte en un espacio de <strong>relajación, placer y fusión</strong>, donde la sexualidad y la intimidad se ponen a merced del corazón.<br>Este taller está diseñado para que explores y experimentes el contacto con tus necesidades y con la <strong>ternura que nutre</strong> la relación. A través del tacto y el contacto, cultivarás un espacio de <strong>presencia, comunicación y entrega pura</strong>, permitiendo que la intimidad florezca."
    isReversed
    items={[
      {
        title: 'Programa:',
        description:
          '<ul class="text-muted list-disc mt-3 ml-5"><li>El arte del ritual en nuestra vida cotidiana.</li><li>El arte del tacto: acompasar la energía.</li><li>El ritmo del corazón en el toque.</li><li>La respiración y el cuerpo extático.</li><li>Armonizar y liberar los bloqueos que impiden el libre fluir de la energía.</li><li>El arte de sublimar la energía.</li><li>Si hay espacio para el dolor, también lo hay para el placer.</li><li>Reconocer, permitir y comunicar nuestras necesidades.</li><li>Conectar con la ternura, entregarse a la relación.</li></ul>',
      },
      {
        title: 'En esencia:',
        description:
          'La intimidad será tu espacio <strong>seguro y poderoso</strong> donde podrás conocerte y conectar de manera auténtica. A través de la <strong>meditación del tacto</strong>, explorarás tus paisajes emocionales, te comunicarás honestamente, y descubrirás nuevas formas de relacionarte. Este taller te invita a profundizar en la <strong>versión más verdadera</strong> de ti mism@, creando un vínculo más fuerte y auténtico basado en el <strong>amor y la comprensión mutua</strong>.',
      },
    ]}
    image={{
      src: '/images/238A7251.webp',
      alt: 'Contacto e Intimidad',
      aspectRatio: '1:1',
    }}
    classes={{ itemClasses: 'list-disc', Headline: 'text-m' }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    id="juego_eros_y_celebracion"
    title='Juego, Eros y Celebración <br /><span class="text-xl">13 julio 2025</span>'
    subtitle='Te invitamos a vivir un <strong>renacimiento</strong>, reconocimiento, exploración y reconexión, entregándote a la <strong>creatividad</strong>, el entusiasmo, el deseo, el juego y la fantasía; a través de juegos sencillos y de conexión. A través de distintas exploraciones y dinámicas descubrirás nuevas vías para despertar a <strong>Eros</strong> en tu cuerpo.<br>El taller sucederá en un templo donde nos dejaremos inspirar por las diferentes <strong>musas</strong> (la música, el arte, la poesía, etc). ¡Cuánta falta nos hace jugar y celebrar!<br><br>"Os aseguro que, si no volvéis a ser como niños, no entraréis en el reino de los cielos"<br>San Mateo (18, 1-5.10)'
    items={[
      {
        title: 'Programa:',
        description:
          '<ul class="text-muted list-disc mt-3 ml-5"><li>Autoamor: el despertar del amante interno.</li><li>El juego y la sensualidad.</li><li>Fortalecer la intimidad.</li><li>Rueda de consentimiento y límites.</li><li>Consciencia corporal: habitar el cuerpo con amabilidad.</li><li>Espacio para la celebración y la alegría.</li><li>La vergüenza y la culpa no existen en el cielo.</li><li>Amplifico mi capacidad de sentir, confiar y dejar ir el control.</li></ul>',
      },
      {
        title: 'En esencia:',
        description:
          'En un mundo donde se premia la productividad, la rapidez y la eficacia, aprenderás a vivenciarte de una manera <strong>consciente y auténtica</strong> para crear nuevas conexiones conscientes, amorosas y respetuosas contigo mism@ y con tu pareja en un <strong>ambiente cuidado y seguro</strong>. Navegarás y explorarás vías de conexión con el <strong>placer y el amor</strong> a través de tu intimidad y te darás permiso para habitarte como ser sensual en un espacio libre de juicio, conectando en pareja a través del <strong>Eros</strong>. Vivirás un viaje muy <strong>sanador y enriquecedor</strong> para tu relación. En este taller nutrirás la conexión con tu cuerpo, escucharás y honrarás tu <strong>verdad personal</strong>, acogiendo tus límites y comunicándolos, pudiendo descubrir más formas de conectar con Eros que no solo las típicas que imperan en tu vida cotidiana.',
      },
    ]}
    image={{
      src: '/images/238A6929.webp',
      alt: 'Juego, Eros y Celebración',
      aspectRatio: '1:1',
    }}
    classes={{ itemClasses: 'list-disc', Headline: 'text-m' }}
  />

  <!-- Content Widget **************** -->

  <Content
    id="haz_el_amor_por_amor"
    title='Residencial Haz el Amor por Amor<br /><span class="text-xl">del 21 al 24 de agosto 2025</span>'    
    subtitle="Te proponemos dedicar unos días en plena naturaleza para <strong>profundizar en tu relación</strong>, sentir y vibrar desde el centro del corazón y que el acto de hacer el amor se convierta en el medio donde recordar tu <strong>capacidad extática y expansiva</strong>.<br>En este retiro encontrarás: juegos, sorpresas, <strong>relajación</strong>, conexión, sensibilidad, meditación, pasión, éxtasis, y quizás también la posibilidad de poder abrazar, la vergüenza, el miedo, la vulnerabilidad, la tensión, el dolor, etc.<br>Toda la formación es puramente práctica."
    isReversed
    items={[
      {
        title: 'Presentación:',
        description:
          'Este es un curso de profundización en pareja para entrar en contacto con tu <strong>esencia</strong> gracias al espacio de intimidad. Aprenderás a amar y respetar tu cuerpo (sea como sea) y dejarlo "ser amor". Entenderás que hacer el amor es algo <strong>sagrado</strong>; es una meditación más.',
      },
      {
        title: 'Para qué:',
        description:
          '<ul class="text-muted list-disc mt-3 ml-5"><li>Entrar en contacto con nuestra esencia gracias al espacio de intimidad.</li><li>Amar y respetar nuestros cuerpos (sean como sean) y dejarlos "ser amor".</li><li>Aprender que hacer el amor es algo sagrado, es una meditación más.</li><li>Introducir la relajación en nuestras vidas y disfrutar de la energía vital que nos brinda el cuerpo.</li><li>Disfrutar de distintas meditaciones, de dinámicas y ejercicios individuales y/o en pareja.</li><li>Apreciar el arte de la presencia y cómo ésta nos puede ayudar tanto en nuestra vida cotidiana, como a la hora de hacer el amor.</li></ul>',
      },
    ]}
    image={{
      src: '/images/238A6794.webp',
      alt: 'Residencial Haz el Amor por Amor',
      aspectRatio: '1:1',
    }}
    classes={{ itemClasses: 'list-disc', Headline: 'text-m', Content: 'pb-0' }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    id="programa"
    items={[
      {
        title: 'Programa:',
        description:
          '<ul class="text-muted list-disc mt-3 ml-5"><li>El arte del ritual en nuestras vidas.</li><li>Meditación y sexualidad: la relación entre consciencia y energía.</li><li>Sexo con K-Alma: acompasar la energía.</li><li>La ola respiratoria y el cuerpo extático.</li><li>Armonizar y liberar los bloqueos que impiden el libre fluir de la energía sexual.</li><li>El arte de sublimar la energía sexual.</li><li>Despertar el cuerpo gozoso a través del tacto.</li><li>El arte de comunicar mis necesidades.</li></ul>',
      },
      {
        title: 'En esencia:',
        description:
          'Estos días en la naturaleza y compartiendo con el grupo propiciarán tu <strong>relajación</strong> y el disfrute de la energía vital que te brinda el cuerpo. Practicarás distintas <strong>meditaciones, dinámicas y ejercicios</strong> individuales y/o en pareja para llevarlos luego a tu vida cotidiana y seguir haciendo del tantra y el arte de la presencia, un <strong>camino accesible y amable</strong>.<br>En nuestra experiencia, cuando te compartes con otras parejas que están explorando este nivel de <strong>intimidad tan profundo</strong>, vivirás una experiencia muy <strong>enriquecedora e inspiradora</strong> que te infundirá mucha <strong>confianza y compromiso</strong> con tu propio camino de consciencia.',
      },
    ]}
    image={{
      src: '/images/238A8105.webp',
      alt: 'Residencial Haz el Amor por Amor',
      aspectRatio: '1:1',
    }}
    classes={{ container: 'pt-0 md:pt-0 lg:pt-0' }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features Widget *************** -->

  <Features
    id="que_aporta"
    title="Que os puede aportar este recorrido"
    subtitle=""
    items={[
      {
        title: 'Herramientas',
        description:
          'Conocerás y practicarás distintas <strong>meditaciones y herramientas</strong> para traer consciencia a tu relación dentro de un entorno cálido, responsable y amoroso',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Romper patrones',
        description: 'Dejarás de repetir <strong>dinámicas y patrones</strong> del pasado que sabotean el Amor Presente',
        icon: 'tabler:seeding',
      },
      {
        title: 'Autenticidad y profundidad',
        description: 'Instalarás una intimidad más <strong>profunda, auténtica y gozosa</strong>, especialmente si estás iniciando una relación',
        icon: 'tabler:growth',
      },
      {
        title: 'Deseo',
        description: 'Fortalecerás la <strong>conexión</strong> y avivarás la llama, especialmente si tienes una relación de largo recorrido',
        icon: 'tabler:heart',
      },
      {
        title: 'Activar el amor',
        description: 'Aprenderás a generar un <strong>campo electromagnético</strong> de amor propio desde tu cuerpo',
        icon: 'tabler:flower',
      },
      {
        title: 'Meditación',
        description: 'Incluirás la <strong>meditación</strong> en tu intimidad, en tu sexualidad y en tu comunicación cotidiana',
        icon: 'tabler:heart-handshake',
      },
      {
        title: 'Hábito',
        description: 'Instalarás el <strong>hábito cotidiano</strong> de generar momentos de calidad para y por la intimidad',
        icon: 'tabler:plant',
      },
      {
        title: 'Compromiso',
        description: 'Te reafirmarás en el <strong>compromiso</strong> y la responsabilidad individual de tu propia felicidad',
        icon: 'tabler:plant-2',
      },
      {
        title: 'Conexión real',
        description:
          'Confiarás en la <strong>conexión energética y de corazón</strong>, más que en los convencionalismos (creencias sociales-culturales) o las ideas entorno al amor romántico',
        icon: 'tabler:leaf',
      },
    ]}
  />

  <Slider 
    id="fotos"
    images = {[
      {
        url: '/images/slides/238A7514.webp',
        description: false
      },
      {
        url: '/images/slides/238A8029.webp'
      },    
      {
        url: '/images/slides/238A7262.webp'
      },
      {
        url: '/images/slides/238A7867.webp'
      },
      {
        url: '/images/slides/238A7482.webp'
      },
      {
        url: '/images/slides/238A7543.webp'
      },
      {
        url: '/images/slides/238A7544.webp'
      },
      {
        url: '/images/slides/238A7870.webp'
      },
      {
        url: '/images/slides/238A8028.webp'
      },
      {
        url: '/images/slides/238A7542.webp'
      },
      {
        url: '/images/slides/238A8025.webp'
      },
      {
        url: '/images/slides/238A7565.webp'
      },
      {  
        url: '/images/slides/238A7630.webp'
      },
      {
        url: '/images/slides/238A7821.webp'
      },
      {
        url: '/images/slides/238A7268.webp'
      },
      { 
        url: '/images/slides/238A7620.webp'
      },
      {
        url: '/images/slides/238A7599.webp'
      },
      {
        url: '/images/slides/238A7612.webp'
      },
      {
        url: '/images/slides/238A8005.webp'
      },    
    ]}
  />
  <!-- const carru=new HSCarousel(document.getElementById("fotos"),{
    "loadingClasses": "opacity-0",
    "dotsItemClasses": "hs-carousel-active:bg-blue-700 hs-carousel-active:border-blue-700 size-3 border border-gray-400 rounded-full cursor-pointer",
    "isAutoPlay": true,
    "isInfiniteLoop": true,
    "isAutoHeight": false,
    "isCentered": false,
    "isDraggable": true,
    "slidesQty": {
      "xs": 1,
      "md": 1,
      "lg": 2
    }
  }) -->



<Steps2
  id="donde_cuando"
  title="Dónde y Cuándo"
  subtitle="Lugares escogidos con amor, donde poderse entregar a la experiencia.<br><br><strong>Talleres:</strong> Vilanova y la Geltru (provincia de Barcelona). Una sala amplia y luminosa con parquing privado.<br><br><strong>Residencial:</strong> Casa Cal Faro, La Llacuna (provincia de Barcelona). Una casa en plena naturaleza, un lugar mágico e íntimo."
  isReversed={false}
  items={[
    {
      title: 'Del Hacer al Ser',
      description: '6 Abril 2025',
      icon: 'tabler:plant-2',
    },
    {
      title: 'El Magnetismo de los Cuerpos',
      description: '18 Mayo 2025',
      icon: 'tabler:magnet',
    },
    {
      title: 'Contacto e Intimidad',
      description: '15 Junio 2025',
      icon: 'tabler:hand-stop',
    },
    {
      title: 'Juego, Eros y Celebración',
      description: '13 Julio 2025',
      icon: 'tabler:flame',
    },
    {
      title: 'Residencial: Haz el Amor por Amor',
      description: '21 - 24 Agosto 2025',
      icon: 'tabler:heart',
    }, 
  ]}    
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Steps2>

  <!-- Pricing Widget ******************* -->

  <Prices
    id="modalidades"
    title="Modalidades"
    subtitle="¿Que opción escogéis?"
    prices={[
      {
        title: 'cada taller',
        subtitle: 'duración 8 horas',
        price: 160,
        period: 'por pareja',
        items: [
          {
            description: 'De abril a julio',
          },
          {
            description: 'El total es 640€',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Nos apuntamos',
          classes: { class:'apuntamos-1taller' },
          href: 'https://wa.me/34627591609/?text=Hola,%20Nos%20queremos%20apuntar%20a%20un%20taller%20de%20Sexo%20con%20K-Alma',
        },
      },
      {
        title: '4 talleres',
        subtitle: 'en total 32 horas',
        price: 600,
        period: 'por pareja',
        items: [
          {
            description: 'Nos apuntamos a todos los talleres',
          },
          {
            description: 'Videos de soporte con meditaciones guiadas',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Nos apuntamos',
          classes: { class:'apuntamos-todostaller' },
          href: 'https://wa.me/34627591609/?text=Hola,%20Nos%20queremos%20apuntar%20a%20todos%20los%20talleres%20de%20Sexo%20con%20K-Alma',
        },
        hasRibbon: true,
        ribbonTitle: '- 40 €',
      },

      {
        title: 'Solo el residencial',
        subtitle: 'de 4 días y 3 noches',
        price: 1000,
        period: 'por pareja',
        items: [
          {
            description: '460€ precio formacion',
          },
          {
            description: '540€ precio alojamiento PC',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Nos apuntamos',
          classes: { class:'apuntamos-residencial' },
          href: 'https://wa.me/34627591609/?text=Hola,%20Nos%20queremos%20apuntar%20al%20residencial%20de%20Sexo%20con%20K-Alma',
        },
      },
      {
        title: 'recorrido completo',
        subtitle: 'incluye 4 talleres y residencial',
        price: 1500,
        period: 'por pareja',
        items: [
          {
            description: 'De abril a agosto',
          },
          {
            description: 'Videos de soporte con meditaciones guiadas',
          },
          {
            description: 'Dos sesiones de acompañamiento individual',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Nos apuntamos',
          classes: { class:'apuntamos-completo' },
          href: 'https://wa.me/34627591609/?text=Hola,%20Nos%20queremos%20apuntar%20al%20recorrido%20completo%20de%20Sexo%20con%20K-Alma',
        },
        hasRibbon: true,
        ribbonTitle: '- 140 €',
      },
    ]}
  />

  <Features3
    id="contacto"
    title="Todavía con dudas"
    subtitle="Nos encantará atenderte"
    columns={3}
    items={[
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'melera.ado@gmail.com',
          href: 'mailto:melera.ado@gmail.com',
          classes: { class:'email-ado' },
          variant: 'link',
        },
      },
      {
        title: 'Habla con Ado',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Envia whatsapp',
          href: 'https://wa.me/34680760473',
          classes: { class:'whats-ado' },
          variant: 'link',
        },
      },
      {
        title: 'Habla con Ananda',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Envia whatsapp',
          href: 'https://wa.me/34627591609',
          classes: { class:'whats-ananda' },
          variant: 'link',
        },
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>

  <Fragment slot="footer"></Fragment>
</Layout>
