---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Steps2 from '~/components/widgets/Steps2.astro';

const metadata = {
  title: 'Haz el Amor por Amor',
  robots: {index: false, follow: false}
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header"></Fragment>

  <!-- Hero2 Widget ******************* -->
  <!-- image={{ src: '/images/238A7333.webp', alt: 'Love' }} -->
  <Hero
  id="principal"
  title="para parejas"
  tagline="Tantra"
  
>
  <Fragment slot="subtitle">
    <strong>El tantra</strong> consiste en integrar la <strong>meditación</strong> en tu intimidad y en tu sexualidad. Aprenderás a recordar el <strong>amor</strong>, recuperar la <strong>relajación</strong> y el <strong>gozo</strong> en tu relación.
    <br /><br />
    Las <strong>corazas</strong> que llevas desde hace tiempo irán cayendo para mostrar tu verdadera <strong>esencia</strong> a la persona con la que compartes este momento de vida. Tu relación será un campo fértil, donde conseguirás un gran <strong>autocrecimiento</strong> y <strong>expansión de consciencia</strong>.
    <br /><br />
    Una de las <strong>necesidades más profundas</strong> de los seres humanos es pertenecer, estar en contacto. Albergamos el deseo de dar y recibir, necesitamos el roce, el cariño, el calor y la presencia. En esta propuesta son bienvenidas <strong>todas las relaciones que aman</strong>, sean del tipo que sean, encarnadas en <strong>cualquier cuerpo y género</strong>.
    <br /><br />
    <br />
  </Fragment>
  <Fragment slot="bg">
    <div class="absolute inset-0 mt-80 bg-140% sm:mt-48 sm:bg-100% lg:mt-32 lg:bg-50%" style="background-image: url('/images/background_logo.webp');
          background-position: top;           
          background-repeat: no-repeat;
          opacity: 0.15;            
          filter: hue-rotate(200deg) saturate(150%);"></div>
  </Fragment>
</Hero>
<div style="page-break-before:always;"></div>  
<!-- image={{
      src: '/images/238A6794.webp',
      alt: 'Residencial Haz el Amor por Amor',
      aspectRatio: '1:1',
    }} -->
    <Content
    id="haz_el_amor_por_amor"
    title='Residencial Haz el Amor por Amor<br /><span class="text-xl">del 21 al 24 de agosto 2025</span>'    
    subtitle="Te proponemos dedicar unos días en plena naturaleza para <strong>profundizar en tu relación</strong>, sentir y vibrar desde el centro del corazón y que el acto de hacer el amor se convierta en el medio donde recordar tu <strong>capacidad extática y expansiva</strong>.<br>En este retiro encontrarás: juegos, sorpresas, <strong>relajación</strong>, conexión, sensibilidad, meditación, pasión, éxtasis, y quizás también la posibilidad de poder abrazar, la vergüenza, el miedo, la vulnerabilidad, la tensión, el dolor, etc.<br>Toda la formación es puramente práctica."
    isReversed
    items={[
      {
        title: 'Presentación:',
        description:
          'Este es un curso de profundización en pareja para entrar en contacto con tu <strong>esencia</strong> gracias al espacio de intimidad. Aprenderás a amar y respetar tu cuerpo (sea como sea) y dejarlo "ser amor". Entenderás que hacer el amor es algo <strong>sagrado</strong>; es una meditación más.',
      },
      {
        title: 'Para qué:',
        description:
          '<ul class="text-muted list-disc mt-3 ml-5"><li>Entrar en contacto con nuestra esencia gracias al espacio de intimidad.</li><li>Amar y respetar nuestros cuerpos (sean como sean) y dejarlos "ser amor".</li><li>Aprender que hacer el amor es algo sagrado, es una meditación más.</li><li>Introducir la relajación en nuestras vidas y disfrutar de la energía vital que nos brinda el cuerpo.</li><li>Disfrutar de distintas meditaciones, de dinámicas y ejercicios individuales y/o en pareja.</li><li>Apreciar el arte de la presencia y cómo ésta nos puede ayudar tanto en nuestra vida cotidiana, como a la hora de hacer el amor.</li></ul>',
      },
    ]}
    
    classes={{ container: 'py-6' ,itemClasses: 'list-disc', Headline: 'text-m', Content: 'pb-0' }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <div style="page-break-before:always;"></div>  
  <!-- image={{
    src: '/images/238A8105.webp',
    alt: 'Residencial Haz el Amor por Amor',
    aspectRatio: '1:1',
  }} -->
  <Content
    id="programa"
    items={[
      {
        title: 'Programa:',
        description:
          '<ul class="text-muted list-disc mt-3 ml-5"><li>El arte del ritual en nuestras vidas.</li><li>Meditación y sexualidad: la relación entre consciencia y energía.</li><li>Acompasar la energía.</li><li>La ola respiratoria y el cuerpo extático.</li><li>Armonizar y liberar los bloqueos que impiden el libre fluir de la energía sexual.</li><li>El arte de sublimar la energía sexual.</li><li>Despertar el cuerpo gozoso a través del tacto.</li><li>El arte de comunicar mis necesidades.</li></ul>',
      },
      {
        title: 'En esencia:',
        description:
          'Estos días en la naturaleza y compartiendo con el grupo propiciarán tu <strong>relajación</strong> y el disfrute de la energía vital que te brinda el cuerpo. Practicarás distintas <strong>meditaciones, dinámicas y ejercicios</strong> individuales y/o en pareja para llevarlos luego a tu vida cotidiana y seguir haciendo del tantra y el arte de la presencia, un <strong>camino accesible y amable</strong>.<br>En nuestra experiencia, cuando te compartes con otras parejas que están explorando este nivel de <strong>intimidad tan profundo</strong>, vivirás una experiencia muy <strong>enriquecedora e inspiradora</strong> que te infundirá mucha <strong>confianza y compromiso</strong> con tu propio camino de consciencia.',
      },
    ]}
    
    classes={{ container: 'pb-6 pt-0 md:pt-0 lg:pt-0' }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


 
  




<div style="page-break-before:always;"></div>
  <Features3
  id="reserva"
  title="Cómo hacer vuestra reserva"
  subtitle="Para hacer la reserva para el residencial de Tantra en pareja:<br>Haz el Amor por Amor<br><br>🏠Lugar: Casa Cal Faro, La Llacuna<br>📆Fechas: 21 - 24 Agosto 2025<br>💰Precio: 1000€ por pareja<br><br>Hacer el ingreso de 500€ en el número de cuenta a nombre de:<br>SANDRA MARTÍN FERRÉ<br>  NCC: BE56 9677 7690 4688<br>BIC: TRWIBEB1XXX<br>Dirección de Wise:<br>Rue du Trône 100, 3rd floor<br>Brussels 1050 (Belgium)<br><br>Concepto: Amor + vuestros nombres<br><br>Una vez realizado enviar el comprobante por WhatsApp(627.591.609)"
  classes={{
    container: 'py-6'    
  }}
  />

  <Features3
  id="politica_cancelacion"
  title="Política de cancelación"
  subtitle="<ul><li>En ningún caso se devuelve en efectivo la reserva.</li><li>Si canceláis con más de 30 días de antelación, de la fecha de realización del taller o residencial, se guarda el importe de la reserva para el año que viene.</li><li>Lamentablemente, si la cancelación se produce con menos de 30 días el importe de la reserva se pierde.</li></ul>"
  classes={{
    container: 'py-6'    
  }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>
  <div style="page-break-before:always;"></div>
  <Features3
  id="celebramos"
  title="¡Celebramos este paso tan importante que estáis dando!"
  subtitle="Con amor, 💞 Ado & Ananda"
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Features3>

  

  

  <Features3
    id="contacto"
    title="¿Tenéis alguna duda?"
    subtitle="Nos encantará atenderos"
    columns={3}
    items={[
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'melera.ado@gmail.com',
          href: 'mailto:melera.ado@gmail.com',
          classes: { class:'email-ado' },
          variant: 'link',
        },
      },
      {
        title: 'Habla con Ado',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: '680760473',
          href: 'https://wa.me/34680760473',
          classes: { class:'whats-ado' },
          variant: 'link',
        },
      },
      {
        title: 'Habla con Ananda',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: '627591609',
          href: 'https://wa.me/34627591609',
          classes: { class:'whats-ananda' },
          variant: 'link',
        },
      },
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
    ]}
  >
    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </Features3>
 <div style="page-break-before:always;"></div>
  <Steps2
  id="recorrido"
  title="Información del recorrido completo"
  isReversed={false}
  items={[
    {
      title: 'Del Hacer al Ser<br /><span class="text-sm">6 abril 2025</span>',
      description: 'Deja de hacer, baja el ritmo, siente y maravíllate de ser.',
      icon: 'tabler:plant-2',
    },
    {
      title: 'El Magnetismo de los Cuerpos<br /><span class="text-sm">18 Mayo 2025</span>',
      description: 'Polaridad, magnetismo, circuito bioenergético: déjate ser fluido.',
      icon: 'tabler:magnet',
    },
    {
      title: 'Contacto e Intimidad<br /><span class="text-sm">15 Junio 2025</span>',
      description: 'Ábrete al tacto, conecta profundamente, despierta una nueva intimidad.',
      icon: 'tabler:hand-stop',
    },
    {
      title: 'Juego, Eros y Celebración<br /><span class="text-sm">13 Julio 2025</span>',
      description: 'Entreguémonos a la alegría, al juego, al placer y al gozo.',
      icon: 'tabler:flame',
    },
    {
      title: 'Residencial Haz el Amor por Amor<br /><span class="text-sm">21 - 24 Agosto 2025</span>',
      description: 'Recárgate de vitalidad. Hacer el amor: un acto de meditación y relajación.',
      icon: 'tabler:heart',
    }
  ]}    
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Steps2>


  

  <Fragment slot="footer"></Fragment>
</Layout>
