---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Steps2 from '~/components/widgets/Steps2.astro';

const metadata = {
  title: 'Juego, Eros y Celebración',
  robots: {index: false, follow: false}
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header"></Fragment>

  <!-- Hero2 Widget ******************* -->
  <!-- image={{ src: '/images/238A7333.webp', alt: 'Love' }} -->
  <Hero
  id="principal"
  title="para parejas"
  tagline="Tantra"
  
>
  <Fragment slot="subtitle">
    <strong>El tantra</strong> consiste en integrar la <strong>meditación</strong> en tu intimidad y en tu sexualidad. Aprenderás a recordar el <strong>amor</strong>, recuperar la <strong>relajación</strong> y el <strong>gozo</strong> en tu relación.
    <br /><br />
    Las <strong>corazas</strong> que llevas desde hace tiempo irán cayendo para mostrar tu verdadera <strong>esencia</strong> a la persona con la que compartes este momento de vida. Tu relación será un campo fértil, donde conseguirás un gran <strong>autocrecimiento</strong> y <strong>expansión de consciencia</strong>.
    <br /><br />
    Una de las <strong>necesidades más profundas</strong> de los seres humanos es pertenecer, estar en contacto. Albergamos el deseo de dar y recibir, necesitamos el roce, el cariño, el calor y la presencia. En esta propuesta son bienvenidas <strong>todas las relaciones que aman</strong>, sean del tipo que sean, encarnadas en <strong>cualquier cuerpo y género</strong>.
    <br /><br />
    <br />
  </Fragment>
  <Fragment slot="bg">
    <div class="absolute inset-0 mt-80 bg-140% sm:mt-48 sm:bg-100% lg:mt-32 lg:bg-50%" style="background-image: url('/images/background_logo.webp');
          background-position: top;           
          background-repeat: no-repeat;
          opacity: 0.15;            
          filter: hue-rotate(200deg) saturate(150%);"></div>
  </Fragment>
</Hero>
<div style="page-break-before:always;"></div>  
<!-- image={{
      src: '/images/238A6929.webp',
      alt: 'Juego, Eros y Celebración',
      aspectRatio: '1:1',
    }} -->
<Content
    id="juego_eros_y_celebracion"
    title='Juego, Eros y Celebración <br /><span class="text-xl">13 julio 2025</span>'
    subtitle='Te invitamos a vivir un <strong>renacimiento</strong>, reconocimiento, exploración y reconexión, entregándote a la <strong>creatividad</strong>, el entusiasmo, el deseo, el juego y la fantasía; a través de juegos sencillos y de conexión. A través de distintas exploraciones y dinámicas descubrirás nuevas vías para despertar a <strong>Eros</strong> en tu cuerpo.<br>El taller sucederá en un templo donde nos dejaremos inspirar por las diferentes <strong>musas</strong> (la música, el arte, la poesía, etc). ¡Cuánta falta nos hace jugar y celebrar!<br><br>"Os aseguro que, si no volvéis a ser como niños, no entraréis en el reino de los cielos"<br>San Mateo (18, 1-5.10)'
    items={[
      {
        title: 'Programa:',
        description:
          '<ul class="text-muted list-disc mt-3 ml-5"><li>Autoamor: el despertar del amante interno.</li><li>El juego y la sensualidad.</li><li>Fortalecer la intimidad.</li><li>Rueda de consentimiento y límites.</li><li>Consciencia corporal: habitar el cuerpo con amabilidad.</li><li>Espacio para la celebración y la alegría.</li><li>La vergüenza y la culpa no existen en el cielo.</li><li>Amplifico mi capacidad de sentir, confiar y dejar ir el control.</li></ul>',
      },
      {
        title: 'En esencia:',
        description:
          'En un mundo donde se premia la productividad, la rapidez y la eficacia, aprenderás a vivenciarte de una manera <strong>consciente y auténtica</strong> para crear nuevas conexiones conscientes, amorosas y respetuosas contigo mism@ y con tu pareja en un <strong>ambiente cuidado y seguro</strong>. Navegarás y explorarás vías de conexión con el <strong>placer y el amor</strong> a través de tu intimidad y te darás permiso para habitarte como ser sensual en un espacio libre de juicio, conectando en pareja a través del <strong>Eros</strong>. Vivirás un viaje muy <strong>sanador y enriquecedor</strong> para tu relación. En este taller nutrirás la conexión con tu cuerpo, escucharás y honrarás tu <strong>verdad personal</strong>, acogiendo tus límites y comunicándolos, pudiendo descubrir más formas de conectar con Eros que no solo las típicas que imperan en tu vida cotidiana.',
      },
    ]}
    
    classes={{ container: 'py-6' , itemClasses: 'list-disc', Headline: 'text-m' }}
  />


 
  




<div style="page-break-before:always;"></div>
  <Features3
  id="reserva"
  title="Cómo hacer vuestra reserva"
  subtitle="Para hacer la reserva para el taller de Tantra en pareja:<br>Juego, Eros y Celebración<br><br>🏠Lugar: l'Arbre . Vilanova I la Geltrú<br>📆Fecha: 13 de julio de 10h a 19h<br>💰Precio: 160€ por pareja<br><br>Hacer el ingreso de 60€ en el número de cuenta a nombre de:<br>SANDRA MARTÍN FERRÉ<br>  NCC: BE56 9677 7690 4688<br>BIC: TRWIBEB1XXX<br>Dirección de Wise:<br>Rue du Trône 100, 3rd floor<br>Brussels 1050 (Belgium)<br><br>Concepto: Juego + vuestros nombres<br><br>Una vez realizado enviar el comprobante por WhatsApp(627.591.609)"
  classes={{
    container: 'py-6'    
  }}
  />

  <Features3
  id="politica_cancelacion"
  title="Política de cancelación"
  subtitle="<ul><li>En ningún caso se devuelve en efectivo la reserva.</li><li>Si canceláis con más de 30 días de antelación, de la fecha de realización del taller o residencial, se guarda el importe de la reserva para el año que viene.</li><li>Lamentablemente, si la cancelación se produce con menos de 30 días el importe de la reserva se pierde.</li></ul>"
  classes={{
    container: 'py-6'    
  }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>
  <div style="page-break-before:always;"></div>
  <Features3
  id="celebramos"
  title="¡Celebramos este paso tan importante que estáis dando!"
  subtitle="Con amor, 💞 Ado & Ananda"
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Features3>

  

  

  <Features3
    id="contacto"
    title="¿Tenéis alguna duda?"
    subtitle="Nos encantará atenderos"
    columns={3}
    items={[
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'melera.ado@gmail.com',
          href: 'mailto:melera.ado@gmail.com',
          classes: { class:'email-ado' },
          variant: 'link',
        },
      },
      {
        title: 'Habla con Ado',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: '680760473',
          href: 'https://wa.me/34680760473',
          classes: { class:'whats-ado' },
          variant: 'link',
        },
      },
      {
        title: 'Habla con Ananda',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: '627591609',
          href: 'https://wa.me/34627591609',
          classes: { class:'whats-ananda' },
          variant: 'link',
        },
      },
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
    ]}
  >
    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </Features3>
 <div style="page-break-before:always;"></div>
  <Steps2
  id="recorrido"
  title="Información del recorrido completo"
  isReversed={false}
  items={[
    {
      title: 'Del Hacer al Ser<br /><span class="text-sm">6 abril 2025</span>',
      description: 'Deja de hacer, baja el ritmo, siente y maravíllate de ser.',
      icon: 'tabler:plant-2',
    },
    {
      title: 'El Magnetismo de los Cuerpos<br /><span class="text-sm">18 Mayo 2025</span>',
      description: 'Polaridad, magnetismo, circuito bioenergético: déjate ser fluido.',
      icon: 'tabler:magnet',
    },
    {
      title: 'Contacto e Intimidad<br /><span class="text-sm">15 Junio 2025</span>',
      description: 'Ábrete al tacto, conecta profundamente, despierta una nueva intimidad.',
      icon: 'tabler:hand-stop',
    },
    {
      title: 'Juego, Eros y Celebración<br /><span class="text-sm">13 Julio 2025</span>',
      description: 'Entreguémonos a la alegría, al juego, al placer y al gozo.',
      icon: 'tabler:flame',
    },
    {
      title: 'Residencial Haz el Amor por Amor<br /><span class="text-sm">21 - 24 Agosto 2025</span>',
      description: 'Recárgate de vitalidad. Hacer el amor: un acto de meditación y relajación.',
      icon: 'tabler:heart',
    }
  ]}    
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Steps2>


  

  <Fragment slot="footer"></Fragment>
</Layout>
