---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Steps2 from '~/components/widgets/Steps2.astro';

const metadata = {
  title: 'Del Hacer Al Ser',
  robots: {index: false, follow: false}
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header"></Fragment>

  <!-- Hero2 Widget ******************* -->
  <!-- image={{ src: '/images/238A7333.webp', alt: 'Love' }} -->
  <Hero
  id="principal"
  title="Sexo con K-Alma"
  tagline="Tantra para parejas"
  
>
  <Fragment slot="subtitle">
    <strong>Sexo con K-Alma</strong> significa que incluirás la <strong>meditación</strong> en tu intimidad y en tu sexualidad. Aprenderás a recordar el <strong>amor</strong>, recuperar la <strong>relajación</strong> y el <strong>gozo</strong> en tu relación.
    <br /><br />
    Las <strong>corazas</strong> que llevas desde hace tiempo irán cayendo para mostrar tu verdadera <strong>esencia</strong> a la persona con la que compartes este momento de vida. Tu relación será un campo fértil, donde conseguirás un gran <strong>autocrecimiento</strong> y <strong>expansión de consciencia</strong>.
    <br /><br />
    Una de las <strong>necesidades más profundas</strong> de los seres humanos es pertenecer, estar en contacto. Albergamos el deseo de dar y recibir, necesitamos el roce, el cariño, el calor y la presencia. En esta propuesta son bienvenidas <strong>todas las relaciones que aman</strong>, sean del tipo que sean, encarnadas en <strong>cualquier cuerpo y género</strong>.
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
  </Fragment>
  <Fragment slot="bg">
    <div class="absolute inset-0 mt-80 bg-140% sm:mt-48 sm:bg-100% lg:mt-32 lg:bg-50%" style="background-image: url('/images/background_logo.webp');
          background-position: top;           
          background-repeat: no-repeat;
          opacity: 0.15;            
          filter: hue-rotate(200deg) saturate(150%);"></div>
  </Fragment>
</Hero>
  
<!-- image={{
  src: '/images/238A6733.webp',
  alt: 'Del Hacer al Ser',
  aspectRatio: '1:1',
}} -->
  <Content
    id="del_hacer_al_ser"
    title='Del Hacer al Ser<br /><span class="text-xl">6 abril 2025</span>'
    subtitle="En un mundo lleno de <strong>distracciones y desafíos</strong>, reconectar con tu ser interior y con tu pareja puede ser un viaje <strong>profundamente transformador</strong>. Este taller está diseñado para ayudarte a <strong>reconocer quién eres</strong>, deshacer tus miedos y resistencias con la ayuda del amor, y descubrir que no estás sol@ en este camino. Antes de fundirte con el otro, es esencial que te fundas con tu propio ser, trasciendas tus <strong>autolimitaciones</strong> y la sensación de que eres errón@, te destiles como ser humano para brillar ante ti y ante tu pareja. ¡Queremos que te vuelvas a <strong>enamorar de ti mism@</strong> y de tu pareja!"
    isReversed
    items={[
      {
        title: 'Programa:',
        description:
          '<ul class="text-muted list-disc mt-3 ml-5"><li>Conoce tu esencia más profunda.</li><li>Deshacer los miedos y las resistencias a través del poder del amor.</li><li>La tecnología del amor.</li><li>Conexión y apoyo mutuo en el viaje de autodescubrimiento.</li><li>La danza entre la individuación y la fusión.</li><li>El descanso en la intimidad.</li><li>La corporalidad: el camino de la presencia.</li><li>Mantener viva la llama de la propia vitalidad.</li><li>La Comunicación NoViolenta, una herramienta esencial en la relación.</li><li>La respiración al servicio de la sensibilidad.</li><li>Despertar el cuerpo extático.</li><li>Hacer el amor: un acto desde la consciencia.</li></ul>',
      },
      {
        title: 'En esencia:',
        description:
          'En este taller descubrirás la importancia del <strong>descanso</strong> y el valor del <strong>no esfuerzo</strong> en la intimidad. Los momentos de relajación (k-alma), gozo y placer serán tu forma de recarga necesaria para sostener tu propio bienestar y el de tu relación. Cuanto más habites tu cuerpo, más conocerás y sabrás escuchar tus propias <strong>necesidades</strong> y respetar y comprender las de tu compañer@. Al estar conectad@ a las sensaciones corporales, te traerá el abrazo del presente, lo cual te permitirá estar más en sintonía con tu ser interior.',
      },
    ]}
    
    classes={{ itemClasses: 'list-disc', Headline: 'text-m' }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

 
  




  
  <Features3
  id="reserva"
  title="Cómo hacer vuestra reserva"
  subtitle="Para hacer la reserva para el taller de Tantra en pareja: Del hacer al Ser<br><br>🏠Lugar: l'Arbre . Vilanova I la Geltrú<br>📆Fecha: 6 de abril de 10h a 19h<br>💰Precio: 160€ por pareja<br><br>Hacer el ingreso de 60€ en el número de cuenta a nombre de:<br>SANDRA MARTÍN FERRÉ<br>  NCC: BE56 9677 7690 4688<br>BIC: TRWIBEB1XXX<br>Dirección de Wise:<br>Rue du Trône 100, 3rd floor<br>Brussels 1050 (Belgium)<br><br>Concepto:  vuestros nombres<br><br>Una vez realizado enviar el comprobante por WhatsApp(627.591.609)"
  />

  <Steps2
  id="recorrido"
  title="Recorrido Sexo con K-Alma"
  subtitle="Lugares escogidos con amor, donde poderse entregar a la experiencia.<br><br><strong>Talleres:</strong> <a class='text-decoration-line: underline' href='https://www.instagram.com/larbrevng' target='_blank'>L'Arbre</a>, Vilanova y la Geltru (provincia de Barcelona). Una sala amplia y luminosa con parking privado.<br><br><strong>Residencial:</strong> <a class='text-decoration-line: underline' href='https://www.instagram.com/casacalfaro' target='_blank'>Casa Cal Faro</a>, La Llacuna (provincia de Barcelona). Una casa en plena naturaleza, un lugar mágico e íntimo."
  isReversed={false}
  items={[
    {
      title: 'Del Hacer al Ser<br /><span class="text-sm">6 abril 2025</span>',
      description: 'Deja de hacer, baja el ritmo, siente y maravíllate de ser.',
      icon: 'tabler:plant-2',
    },
    {
      title: 'El Magnetismo de los Cuerpos<br /><span class="text-sm">18 Mayo 2025</span>',
      description: 'Polaridad, magnetismo, circuito bioenergético: déjate ser fluido.',
      icon: 'tabler:magnet',
    },
    {
      title: 'Contacto e Intimidad<br /><span class="text-sm">15 Junio 2025</span>',
      description: 'Ábrete al tacto, conecta profundamente, despierta una nueva intimidad.',
      icon: 'tabler:hand-stop',
    },
    {
      title: 'Juego, Eros y Celebración<br /><span class="text-sm">13 Julio 2025</span>',
      description: 'Entreguémonos a la alegría, al juego, al placer y al gozo.',
      icon: 'tabler:flame',
    },
    {
      title: 'Residencial Haz el Amor por Amor<br /><span class="text-sm">21 - 24 Agosto 2025</span>',
      description: 'Recárgate de vitalidad. Hacer el amor: un acto de meditación y relajación.',
      icon: 'tabler:heart',
    }
  ]}    
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Steps2>


  <Features3
    id="contacto"
    title="Cómo contactar con nosotros"
    subtitle="Nos encantará atenderte"
    columns={3}
    items={[
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'melera.ado@gmail.com',
          href: 'mailto:melera.ado@gmail.com',
          classes: { class:'email-ado' },
          variant: 'link',
        },
      },
      {
        title: 'Habla con Ado',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: '680760473',
          href: 'https://wa.me/34680760473',
          classes: { class:'whats-ado' },
          variant: 'link',
        },
      },
      {
        title: 'Habla con Ananda',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: '627591609',
          href: 'https://wa.me/34627591609',
          classes: { class:'whats-ananda' },
          variant: 'link',
        },
      },
    ]}
  >
    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </Features3>

  <Fragment slot="footer"></Fragment>
</Layout>
