---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Steps2 from '~/components/widgets/Steps2.astro';

const metadata = {
  title: 'El Magnetismo de los Cuerpos',
  robots: {index: false, follow: false}
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header"></Fragment>

  <!-- Hero2 Widget ******************* -->
  <!-- image={{ src: '/images/238A7333.webp', alt: 'Love' }} -->
  <Hero
  id="principal"
  title="Tantra para parejas"
  tagline=""
  
>
  <Fragment slot="subtitle">
    <strong>El tantra</strong> consiste en integrar la <strong>meditación</strong> en tu intimidad y en tu sexualidad. Aprenderás a recordar el <strong>amor</strong>, recuperar la <strong>relajación</strong> y el <strong>gozo</strong> en tu relación.
    <br /><br />
    Las <strong>corazas</strong> que llevas desde hace tiempo irán cayendo para mostrar tu verdadera <strong>esencia</strong> a la persona con la que compartes este momento de vida. Tu relación será un campo fértil, donde conseguirás un gran <strong>autocrecimiento</strong> y <strong>expansión de consciencia</strong>.
    <br /><br />
    Una de las <strong>necesidades más profundas</strong> de los seres humanos es pertenecer, estar en contacto. Albergamos el deseo de dar y recibir, necesitamos el roce, el cariño, el calor y la presencia. En esta propuesta son bienvenidas <strong>todas las relaciones que aman</strong>, sean del tipo que sean, encarnadas en <strong>cualquier cuerpo y género</strong>.
    <br /><br />
    <br />
  </Fragment>
  <Fragment slot="bg">
    <div class="absolute inset-0 mt-80 bg-140% sm:mt-48 sm:bg-100% lg:mt-32 lg:bg-50%" style="background-image: url('/images/background_logo.webp');
          background-position: top;           
          background-repeat: no-repeat;
          opacity: 0.15;            
          filter: hue-rotate(200deg) saturate(150%);"></div>
  </Fragment>
</Hero>
<div style="page-break-before:always;"></div>  
<!-- image={{
  src: '/images/238A7833.webp',
  alt: 'El Magnetismo de los Cuerpos',
  aspectRatio: '1:1',
}} -->
<Content
id="el_magnetismo_de_los_cuerpos"
title='El Magnetismo de los Cuerpos<br /><span class="text-xl">18 mayo 2025</span>'
subtitle="Cuando ya sabes quién eres y has conectado profundamente con tu ser interior, es momento de cuidar tu <strong>templo: el cuerpo</strong>, el hogar de tu alma. Este taller está diseñado para que te vivas plenamente en esta <strong>experiencia corporal y sensorial</strong>, reconociendo tu cuerpo como tu preciado tesoro. Al reconocerte y cuidarte, te conviertes en pura <strong>irradiación</strong>, brillando y atrayendo naturalmente. A través de tu cuerpo, el amor se despliega y se abre, y el juego inocente de la dualidad se convierte en una pura <strong>celebración y disfrute</strong>.<br>Cuando os unís en pareja, las <strong>bioenergías</strong> de vuestros cuerpos crean una experiencia vital extática a través de la atracción de las polaridades opuestas, como dos imanes que crean un campo magnético: femenino (receptivo) - masculino (emisivo)."
items={[
  {
    title: 'Programa:',
    description:
      '<ul class="text-muted list-disc mt-3 ml-5"><li>Corporalidad, el hogar de tu alma.</li><li>La meditación en la vida cotidiana.</li><li>Autocuidado corporal para mantener tu templo en armonía.</li><li>Sentir: magnetiza.</li><li>La radiancia individual.</li><li>Hábitos energéticos que sabotean la intimidad.</li><li>Poner y comunicar límites, un acto de amor y respeto.</li><li>Celebrar la dualidad y también el goce.</li><li>El juego y la espontaneidad en la conexión íntima.</li></ul>',
  },
  {
    title: 'En esencia:',
    description:
      'Este taller te permitirá <strong>reconocer y celebrar</strong> tu cuerpo como el hogar de tu alma. Al cuidarte y vivenciarte plenamente en esta experiencia corporal y sensorial, te convertirás en pura <strong>irradiación y magnetismo</strong>. A través de tu cuerpo, el amor se desplegará y se abrirá, convirtiendo el juego inocente de la dualidad en una pura <strong>celebración y disfrute</strong>. Este taller es una invitación a vivir y disfrutar del amor y la conexión íntima desde la <strong>profundidad de tu ser</strong> y el reconocimiento de tu cuerpo como tu templo sagrado.',
  },
]}

classes={{ itemClasses: 'list-disc', Headline: 'text-m' }}
/>

 
  




<div style="page-break-before:always;"></div>
  <Features3
  id="reserva"
  title="Cómo hacer vuestra reserva"
  subtitle="Para hacer la reserva para el taller de Tantra en pareja:<br>El Magnetismo de los Cuerpos<br><br>🏠Lugar: l'Arbre . Vilanova I la Geltrú<br>📆Fecha: 18 de mayo de 10h a 19h<br>💰Precio: 160€ por pareja<br><br>Hacer el ingreso de 60€ en el número de cuenta a nombre de:<br>SANDRA MARTÍN FERRÉ<br>  NCC: BE56 9677 7690 4688<br>BIC: TRWIBEB1XXX<br>Dirección de Wise:<br>Rue du Trône 100, 3rd floor<br>Brussels 1050 (Belgium)<br><br>Concepto: Magnetismo + vuestros nombres<br><br>Una vez realizado enviar el comprobante por WhatsApp(627.591.609)"
  classes={{
    container: 'py-6'    
  }}
  />

  <Features3
  id="politica_cancelacion"
  title="Política de cancelación"
  subtitle="<ul><li>En ningún caso se devuelve en efectivo la reserva.</li><li>Si canceláis con más de 30 días de antelación, de la fecha de realización del taller o residencial, se guarda el importe de la reserva para el año que viene.</li><li>Lamentablemente, si la cancelación se produce con menos de 30 días el importe de la reserva se pierde.</li></ul>"
  classes={{
    container: 'py-6'    
  }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>
  <div style="page-break-before:always;"></div>
  <Features3
  id="celebramos"
  title="¡Celebramos este paso tan importante que estáis dando!"
  subtitle="Con amor, 💞 Ado & Ananda"
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Features3>

  

  

  <Features3
    id="contacto"
    title="¿Tenéis alguna duda?"
    subtitle="Nos encantará atenderos"
    columns={3}
    items={[
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'melera.ado@gmail.com',
          href: 'mailto:melera.ado@gmail.com',
          classes: { class:'email-ado' },
          variant: 'link',
        },
      },
      {
        title: 'Habla con Ado',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: '680760473',
          href: 'https://wa.me/34680760473',
          classes: { class:'whats-ado' },
          variant: 'link',
        },
      },
      {
        title: 'Habla con Ananda',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: '627591609',
          href: 'https://wa.me/34627591609',
          classes: { class:'whats-ananda' },
          variant: 'link',
        },
      },
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
    ]}
  >
    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </Features3>
 <div style="page-break-before:always;"></div>
  <Steps2
  id="recorrido"
  title="Información del recorrido completo"
  isReversed={false}
  items={[
    {
      title: 'Del Hacer al Ser<br /><span class="text-sm">6 abril 2025</span>',
      description: 'Deja de hacer, baja el ritmo, siente y maravíllate de ser.',
      icon: 'tabler:plant-2',
    },
    {
      title: 'El Magnetismo de los Cuerpos<br /><span class="text-sm">18 Mayo 2025</span>',
      description: 'Polaridad, magnetismo, circuito bioenergético: déjate ser fluido.',
      icon: 'tabler:magnet',
    },
    {
      title: 'Contacto e Intimidad<br /><span class="text-sm">15 Junio 2025</span>',
      description: 'Ábrete al tacto, conecta profundamente, despierta una nueva intimidad.',
      icon: 'tabler:hand-stop',
    },
    {
      title: 'Juego, Eros y Celebración<br /><span class="text-sm">13 Julio 2025</span>',
      description: 'Entreguémonos a la alegría, al juego, al placer y al gozo.',
      icon: 'tabler:flame',
    },
    {
      title: 'Residencial Haz el Amor por Amor<br /><span class="text-sm">21 - 24 Agosto 2025</span>',
      description: 'Recárgate de vitalidad. Hacer el amor: un acto de meditación y relajación.',
      icon: 'tabler:heart',
    }
  ]}    
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Steps2>


  

  <Fragment slot="footer"></Fragment>
</Layout>
