---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Steps2 from '~/components/widgets/Steps2.astro';

const metadata = {
  title: 'Contacto e Intimidad',
  robots: {index: false, follow: false}
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header"></Fragment>

  <!-- Hero2 Widget ******************* -->
  <!-- image={{ src: '/images/238A7333.webp', alt: 'Love' }} -->
  <Hero
  id="principal"
  title="Tantra para parejas"
  tagline=""
  
>
  <Fragment slot="subtitle">
    <strong>El tantra</strong> consiste en integrar la <strong>meditación</strong> en tu intimidad y en tu sexualidad. Aprenderás a recordar el <strong>amor</strong>, recuperar la <strong>relajación</strong> y el <strong>gozo</strong> en tu relación.
    <br /><br />
    Las <strong>corazas</strong> que llevas desde hace tiempo irán cayendo para mostrar tu verdadera <strong>esencia</strong> a la persona con la que compartes este momento de vida. Tu relación será un campo fértil, donde conseguirás un gran <strong>autocrecimiento</strong> y <strong>expansión de consciencia</strong>.
    <br /><br />
    Una de las <strong>necesidades más profundas</strong> de los seres humanos es pertenecer, estar en contacto. Albergamos el deseo de dar y recibir, necesitamos el roce, el cariño, el calor y la presencia. En esta propuesta son bienvenidas <strong>todas las relaciones que aman</strong>, sean del tipo que sean, encarnadas en <strong>cualquier cuerpo y género</strong>.
    <br /><br />
    <br />
  </Fragment>
  <Fragment slot="bg">
    <div class="absolute inset-0 mt-80 bg-140% sm:mt-48 sm:bg-100% lg:mt-32 lg:bg-50%" style="background-image: url('/images/background_logo.webp');
          background-position: top;           
          background-repeat: no-repeat;
          opacity: 0.15;            
          filter: hue-rotate(200deg) saturate(150%);"></div>
  </Fragment>
</Hero>
<div style="page-break-before:always;"></div>  
<!-- image={{
  src: '/images/238A7251.webp',
  alt: 'Contacto e Intimidad',
  aspectRatio: '1:1',
}} -->
<Content
id="contacto_e_intimidad"
title='Contacto e Intimidad<br /><span class="text-xl">15 junio 2025</span>'
subtitle="El Tantra te invita a escuchar el cuerpo como <strong>vehículo para conectar</strong> con el Ser. El tacto como meditación será tu puerta hacia una <strong>conexión profunda y significativa</strong>. Te facilitará poder adentrarte en un espacio de <strong>relajación, placer y fusión</strong>, donde la sexualidad y la intimidad se ponen a merced del corazón.<br>Este taller está diseñado para que explores y experimentes el contacto con tus necesidades y con la <strong>ternura que nutre</strong> la relación. A través del tacto y el contacto, cultivarás un espacio de <strong>presencia, comunicación y entrega pura</strong>, permitiendo que la intimidad florezca."
isReversed
items={[
  {
    title: 'Programa:',
    description:
      '<ul class="text-muted list-disc mt-3 ml-5"><li>El arte del ritual en nuestra vida cotidiana.</li><li>El arte del tacto: acompasar la energía.</li><li>El ritmo del corazón en el toque.</li><li>La respiración y el cuerpo extático.</li><li>Armonizar y liberar los bloqueos que impiden el libre fluir de la energía.</li><li>El arte de sublimar la energía.</li><li>Si hay espacio para el dolor, también lo hay para el placer.</li><li>Reconocer, permitir y comunicar nuestras necesidades.</li><li>Conectar con la ternura, entregarse a la relación.</li></ul>',
  },
  {
    title: 'En esencia:',
    description:
      'La intimidad será tu espacio <strong>seguro y poderoso</strong> donde podrás conocerte y conectar de manera auténtica. A través de la <strong>meditación del tacto</strong>, explorarás tus paisajes emocionales, te comunicarás honestamente, y descubrirás nuevas formas de relacionarte. Este taller te invita a profundizar en la <strong>versión más verdadera</strong> de ti mism@, creando un vínculo más fuerte y auténtico basado en el <strong>amor y la comprensión mutua</strong>.',
  },
]}

classes={{ itemClasses: 'list-disc', Headline: 'text-m' }}
>
<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Content>


 
  




<div style="page-break-before:always;"></div>
  <Features3
  id="reserva"
  title="Cómo hacer vuestra reserva"
  subtitle="Para hacer la reserva para el taller de Tantra en pareja:<br>Contacto e Intimidad<br><br>🏠Lugar: l'Arbre . Vilanova I la Geltrú<br>📆Fecha: 15 de junio de 10h a 19h<br>💰Precio: 160€ por pareja<br><br>Hacer el ingreso de 60€ en el número de cuenta a nombre de:<br>SANDRA MARTÍN FERRÉ<br>  NCC: BE56 9677 7690 4688<br>BIC: TRWIBEB1XXX<br>Dirección de Wise:<br>Rue du Trône 100, 3rd floor<br>Brussels 1050 (Belgium)<br><br>Concepto: Contacto + vuestros nombres<br><br>Una vez realizado enviar el comprobante por WhatsApp(627.591.609)"
  classes={{
    container: 'py-6'    
  }}
  />

  <Features3
  id="politica_cancelacion"
  title="Política de cancelación"
  subtitle="<ul><li>En ningún caso se devuelve en efectivo la reserva.</li><li>Si canceláis con más de 30 días de antelación, de la fecha de realización del taller o residencial, se guarda el importe de la reserva para el año que viene.</li><li>Lamentablemente, si la cancelación se produce con menos de 30 días el importe de la reserva se pierde.</li></ul>"
  classes={{
    container: 'py-6'    
  }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features3>
  <div style="page-break-before:always;"></div>
  <Features3
  id="celebramos"
  title="¡Celebramos este paso tan importante que estáis dando!"
  subtitle="Con amor, 💞 Ado & Ananda"
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Features3>

  

  

  <Features3
    id="contacto"
    title="¿Tenéis alguna duda?"
    subtitle="Nos encantará atenderos"
    columns={3}
    items={[
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'melera.ado@gmail.com',
          href: 'mailto:melera.ado@gmail.com',
          classes: { class:'email-ado' },
          variant: 'link',
        },
      },
      {
        title: 'Habla con Ado',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: '680760473',
          href: 'https://wa.me/34680760473',
          classes: { class:'whats-ado' },
          variant: 'link',
        },
      },
      {
        title: 'Habla con Ananda',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: '627591609',
          href: 'https://wa.me/34627591609',
          classes: { class:'whats-ananda' },
          variant: 'link',
        },
      },
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
      {},
    ]}
  >
    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </Features3>
 <div style="page-break-before:always;"></div>
  <Steps2
  id="recorrido"
  title="Información del recorrido completo"
  isReversed={false}
  items={[
    {
      title: 'Del Hacer al Ser<br /><span class="text-sm">6 abril 2025</span>',
      description: 'Deja de hacer, baja el ritmo, siente y maravíllate de ser.',
      icon: 'tabler:plant-2',
    },
    {
      title: 'El Magnetismo de los Cuerpos<br /><span class="text-sm">18 Mayo 2025</span>',
      description: 'Polaridad, magnetismo, circuito bioenergético: déjate ser fluido.',
      icon: 'tabler:magnet',
    },
    {
      title: 'Contacto e Intimidad<br /><span class="text-sm">15 Junio 2025</span>',
      description: 'Ábrete al tacto, conecta profundamente, despierta una nueva intimidad.',
      icon: 'tabler:hand-stop',
    },
    {
      title: 'Juego, Eros y Celebración<br /><span class="text-sm">13 Julio 2025</span>',
      description: 'Entreguémonos a la alegría, al juego, al placer y al gozo.',
      icon: 'tabler:flame',
    },
    {
      title: 'Residencial Haz el Amor por Amor<br /><span class="text-sm">21 - 24 Agosto 2025</span>',
      description: 'Recárgate de vitalidad. Hacer el amor: un acto de meditación y relajación.',
      icon: 'tabler:heart',
    }
  ]}    
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Steps2>


  

  <Fragment slot="footer"></Fragment>
</Layout>
